<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.yeraze.hangoutFix</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/rhand/Development/CalendarHangout/hangoutFix.py</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/rhand/.hangoutFix/output.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/rhand/.hangoutFix/error.log</string>
        <key>StartInterval</key>
        <integer>86400</integer>
    </dict>
</plist>
